.frame {
    margin: 10px;
    padding: 20px;
}

/* body {
    background-color: aquamarine;
} */

body {
    background-repeat: no-repeat;
    background-size: cover;
}

#main>div>div:nth-child(even) {
    margin-bottom: 50px;
    font-size: larger;
    color: rgb(2, 2, 44);

}

#main>div>div:nth-child(odd) {
    font-size: 35px;
    font-family: monospace;
    padding-top: 20px;
    
}

button {
    background-color: rgb(26, 85, 114);
    font-size: 20px;
    padding: 10px 10px;
    margin: 15px;
    color: aliceblue;
    border: 2px solid #2064a4; /* Green */
}