.frame {
    margin: 10px;
    padding: 20px;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

#main>div>div:nth-child(even) {
    margin-bottom: 50px;
    font-size: 20px;
    /* color: rgb(2, 2, 44); */
    color: #051c31;

}

#main>div>div:nth-child(odd) {
    font-size: 30px;
    font-family: monospace;
    padding-top: 20px;
    color: black;

}

button {
    background-color: rgb(26, 85, 114);
    font-size: 20px;
    padding: 10px 10px;
    margin: 15px;
    color: aliceblue;
    border: 2px solid #2064a4;
    font-family: monospace;
}

input {
    font-size: 20px;
    font-family: monospace;
}

.header {
    font-size: 45px;
    font-family: monospace;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}